#box {
    width: 100px;
    height: 100px;

    /*
    animation-name: CustomRotaion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    */
}

@keyframes CustomRotaion {
    from{
        background-color: brown;
    }
    to{
        background-color: aquamarine;
        transform: rotate(360deg);
    }
}

@keyframes identifier {
    1%{}
    5%{}
    50%{}

}